@import './variables.scss';


html {
	min-height: 100%;
}

body {
	margin: 0;
	background: linear-gradient($basic-gradient-dark, $basic-gradient-dark-2);
	color: $basic-text-color;
	font-family: $primary-font;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;

	#root {
		height: inherit;
	}
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	height: inherit;
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $desktop) {
		padding: 0 40px;
	}

}

main {
	flex-grow: 1;
}