.films {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		height: 4px;
		width: 4px;
		background: gray;
	}

	&::-webkit-scrollbar-thumb:horizontal {
		background: #ffffff;
		border-radius: 10px;
	}
}